@import url("https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@media/prefers-color-scheme");

img 
{border-radius: 150px;}

nav ul li a
 {border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  font-size: 30px;
  background-color: rgb(190, 194, 172);}

nav ul li a.active 
{background-color: rgb(25, 21, 24);
  color: black;}

nav ul li a:hover 
{font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(11, 11, 11);
  color: rgb(174, 174, 157);}

nav ul 
{list-style: none;}

header 
{display: flex;
  justify-content: center;
  margin-bottom: 50px;}

.main-content 
{display: flex;
  flex-direction: column;
  align-items: center;}

.nav-bar,
.logo 
{display: flex;
  align-items: center;}

.footer 
{color: rgb(84, 79, 79);
  text-align: center;
  padding: 10px;}

.contact-form 
{display: flex;
  flex-direction: column;
  align-items: center;}

.contact-form label 
{display: flex;
  justify-content: inline;
  flex-direction: column;}

.contact-form div 
{margin-bottom: 10px;}